[core]
	editor = nvim

[alias]
	s = status --short --branch
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	lgp = log -p --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue) <%an>%Creset' --abbrev-commit
	fixlocal = commit --amend
	ws = "!git rebase --whitespace=fix --onto $(git merge-base HEAD @{u})"
	moveprs = !printf "git branch ${1:-some-new-branch}\ngit reset --hard HEAD~1\ngit checkout ${1:-some-new-branch}\n"

[diff "zip"]
	textconv = unzip -v

[diff "pdf"]
	textconv = pdfinfo

[diff "bin"]
	textconv = hexdump -v -C

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[user]
	email = git@xn--sb-lka.org
	name = Nicolai Søborg
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIAVNgMbEMnUDU75WOk/90894XGiKI2DOqx0eHZh2DVyI

#[commit]
#	gpgsign = true

# Load company git config:
[includeIf "gitdir:~/work/"]
	path = ~/work/.gitconfig

[push]
	default = current

[color]
	ui = auto

[pull]
	rebase = true

[init]
	defaultBranch = master

[clean]
	requireForce = false

[help]
	# auto-run correct command after 3 seconds:
	autocorrect = 30
[commit]
	gpgsign = true
[gpg]
	format = ssh
