[core]
	editor = nvim

[alias]
	s = status --short --branch
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	lgp = log -p --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue) <%an>%Creset' --abbrev-commit
	fixlocal = commit --amend
	ws = "!git rebase --whitespace=fix --onto $(git merge-base HEAD @{u})"

[diff "zip"]
	textconv = unzip -v

[diff "pdf"]
	textconv = pdfinfo

[diff "bin"]
	textconv = hexdump -v -C

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[user]
	email = git@xn--sb-lka.org
	name = Nicolai Søborg
	signingkey = 1A734959D16F1EFC2152837FC172889D875D6BCE

[commit]
	gpgsign = true

# Load company git config:
[includeIf "gitdir:~/work/"]
	path = ~/work/.gitconfig

[push]
	default = current

[color]
	ui = auto

[pull]
	rebase = true

[init]
	defaultBranch = master

[clean]
	requireForce = false

[help]
	# auto-run correct command after 3 seconds:
	autocorrect = 30
